.product-img {
  overflow: hidden;
  display: block;
  height: 250px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  image-rendering: auto;
}

.product-info {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container h3 {
  height: 30px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 25px;
}

p {
  margin-bottom: -5px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.card-container {
  border: 1px solid rgb(8, 7, 7);
  padding: 2px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  -webkit-animation: blink 8s linear infinite;
  animation: blink 8s linear infinite;
  margin-right: 10px;
  width: 200px;
  height: 330px;
}

.card-container:hover {
  cursor: pointer;
}

.card-container:hover .product-img {
  transform: scale(1.2);
  transition: 1s;
}

.card-container:hover .product-info {
  transform: scale(1.2) translateY(3px);
  transition: 1s;
  overflow: hidden;
  white-space: nowrap;
}

.card-container:hover .product-info h3 {
  display: inline-block;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes blink {
  0% {
    box-shadow: 0 0 20px lightblue;
  }
  50% {
    box-shadow: 0 0 3px lightblue;
  }
  100% {
    box-shadow: 0 0 20px lightblue;
  }
}
@-webkit-keyframes blink {
  0% {
    box-shadow: 0 0 20px lightblue;
  }
  50% {
    box-shadow: 0 0 3px lightblue;
  }
  100% {
    box-shadow: 0 0 20px lightblue;
  }
}
