header {
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  padding: 0;
  position: fixed;
  justify-content: space-evenly;
  align-items: self-start;
  z-index: 1000;
}

.navbar-fixed {
  display: flex;
  height: 25vh;
  width: 100vw;
  background-image: url(https://media.istockphoto.com/id/1158734314/video/abstract-background.jpg?s=640x640&k=20&c=Yj9WUFCh4frKNkG6H1tvVL0EGz1bnVUkLSPrgVEIRxo=) !important;
}
.NavBar-pp {
  height: 120px;
  width: 120px;
  object-fit: fill;
  border-radius: 50%;
}

.navbar-cc {
  margin-top: 50px;
  margin-right: 400px;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  font-weight: bold;
  animation: bgColor 10s infinite linear;
  display: block;
  margin-left: 25px;
}

.dropdown {
  margin-top: 40px;
}

.navbar-profile {
  margin-top: 20px;
  margin-right: 100px;
  display: flex;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: none;
  outline: none;
}
