.pagination li {
  color: white;
  padding: 0 5px;
  margin: 0 2px;
  position: relative;
  transition: left 0.2s top 0.2s;
}

.pagination li:hover {
  color: #fff;
  text-shadow: 3px 3px 2px white;
  cursor: pointer;
}

.pagination li:active {
  color: purple;
  left: 3px;
  top: 3px;
  text-shadow: none;
}

.currentPage {
  color: purple;
}
