.toggle button {
  color: white(0, 0, 0);
  border: none;
  outline: none;
  box-shadow: none;
  background-color: black;
}

.toggle button:focus {
  outline: none;
}

.toggle button.selected {
  color: purple;
}
