.wishListCard {
  display: flex;
  width: 65vw;
}

.wishListCard h1 {
  font-size: 25px;
  overflow-wrap: normal;
}

.wishListCard h3 {
  font-size: 20px;
}

.wishListCard .redX {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-top: -10px;
  margin-left: -3px;
}

.redX:hover {
  cursor: pointer;
  z-index: 101;
}

.wishListCard img {
  margin-right: 4px;
  height: 100px;
  width: 100px;
  object-fit: fill;
  border-radius: 0;
}
